<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO whiteboard</title>
 
</head>
<body>

  <canvas id="content" #content class="whiteboard" ></canvas>

  <div class="colors">
    <div class="color black"></div>
    <div class="color purple"></div>
    <div class="color blue"></div>
    <div class="color green"></div>
    <div class="color red"></div>
    <div class="color orange"></div>
    <div class="color yellow"></div>
    <!-- <div class="color pink"></div> -->
    <div class="color brown"></div>
    <br>
    <button type="button" class="color white btn-default eraser ">Erase</button>
    <div class="color capt"><button class="btn-prrimary" (click)="downloadPDF()">Capture</button></div>
    <div class="imgupoad"><input type="file" (change)="preview($event)" accept="image/*"></div>
 



  </div>



  <script src="../../assets/js/socket.io.js"></script>
  <script src="../../assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

</body>
</html>