

.box1{
    padding-top: 100px;
    padding-left: 48px;
    width: 260px;
    background-color: rgb(255, 255, 255)
}



.box{
   
    height: 1400px;
    background-color: rgb(255, 255, 255);
    padding-right: 100px;
    max-width: 72%;
   
    border-left-color: black;
}   