

        <div class="bar" id="particles-js" >
        <div class="container">   

            






                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                           
<!-- 
                      <div class="panel panel-info" >
                    <div class="panel-heading"> -->

                            <div class="box1">



          <div class="card-body">
                  
            <h4 class="card-title text-center">#BOARD</h4>
              <br>





<!-- 
                        <div class="panel-title"><h3>Sign In</h3>
                        </div>
                           </div>    
                     -->


                    


                    <!-- <div  class="panel-body" > -->


                        <div class="radioset">
                            <label><h5>Seect Account Type</h5></label>
                            <form action="">
                                <div class="row">
                               <div class="r1 col-sm-4"> <input  type="radio" name="admin" value="admin" [(ngModel)]= "newUser.type" ngModel required> Admin </div>
                               <div class="r1 col-sm-4"><input  type="radio" name="student" value="student" [(ngModel)]= "newUser.type" ngModel required> Student </div>
                               <div class="r2 col-sm-4"><input  type="radio" name="teacher" value="teacher" [(ngModel)]= "newUser.type" ngModel required> Teacher</div>
                            </div>
                            </form>
                            </div>
                      
                            <br>




    
                        <form id="loginform" class="form-horizontal" role="form" method="post" action="/login" #loginForm= "ngForm" (ngSubmit)=onSubmit()>
                            

                            <label for="inputEmail">Email address</label>
                            <div class="input-group">  
                                   
                                    <input id="email" type="text" class="form-control" value="" name="email" [(ngModel)]= "newUser.email" placeholder="email">                                       
                                    </div>
                                    <br>

                                    <label for="inputPassword">Password</label>
                                    
                            <div  class="input-group"> 
                                     <input id="pw" width="500px" type="password" class="form-control" name="pw" [(ngModel)]= "newUser.pw" placeholder="Password">
                                    </div>
                                    <br>
                             <button id="btn-login " type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Sign In  </button>  
                            </form> 
                            
                            

                        </div>  
                        
                    </div>


                            </div>



                   
    </div>
    </div>





