input.ng-invalid.ng-dirty{
    border-bottom-color:red;
    box-shadow: 1px 1px 1px 1px red;
}


/* body{
    background-color: grey;
}

.form-group{
    
    
    padding-left: 10%;
    padding-right: 10%;
   

}

.panel-info{
    
    padding-left: 50%;
    
}

.panelbox{
    padding-top: 200px;
    background-color: whitesmoke;
    height: 1500px;
    width: 600px;
}

.panel-heading{
    padding-left: 10%;
}

.bottomsec{
    padding-left: 10%;
} */


.panelbox{
   width: 70%;
   padding-left: 100px;
   
}


.box1{
    padding-top: 100px;
    padding-left: 35px;
    width: 260px;
    background-color: rgb(255, 255, 255)
}



.box{
   
    height: 1200px;
    background-color: rgb(255, 255, 255);
    padding-right: 100px;
    max-width: 72%;
   
    border-left-color: black;
}   
