


.box1{
    padding-top: 100px;
    padding-left: 35px;
    width: 260px;
    background-color: rgb(255, 255, 255)
}

.pic{
    width: 260px;
}

name{
    width: 260px;
}

.box{
   
    height: 1000px;
    background-color: rgb(255, 255, 255);
    padding-right: 100px;
    max-width: 72%;
    padding-top: 200px;
   
    border-left-color: black;
}   


.view-user{
    width: 70%;
    padding-top: 100px;
    padding-left: 100px;
}