<div class="bar">

  <div class="vertical-menu">
    <a href="#" class="active">Details</a>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          
            <a data-toggle="collapse" href="#collapse1">View Users</a>
          
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <ul class="list-group">
            <!-- <li class="list-group-item">Students</li> -->
            
  
            <div class="vertical-menu-view">
            <a href="http://localhost:4200/tviewst">Students</a></div>
  
            <!-- <div class="vertical-menu-view">
              <a href="#">Teachers</a></div>
  
              <div class="vertical-menu-view">
                <a href="#">Admins</a></div> -->
                
            
          </ul>
        
        </div>
      </div>
    </div>
  


  <div class="pane5-group">
      <div class="pane5 pane5-default">
        <div class="pane5-heading">
          
            <a data-toggle="collapse" href="#collapse5">File Management</a>
          
        </div>
        <div id="collapse5" class="pane5-collapse collapse">
          <ul class="list-group5">
            <!-- <li class="list-group-item">Students</li> -->
            
  
            <div class="vertical-menu-view">
            <a href="http://localhost:4200/docup">Upoad File</a></div>
  
            <div class="vertical-menu-view">
              <a href="http://localhost:4200/docdown">Download File</a></div>
  
  
            
          </ul>
        
        </div>
      </div>
    </div>
  
  
  
   
  
    
   
  
  </div>
  
  
  </div>
  
  
  
  
  