<body>
<app-navbar></app-navbar>

<div class="row">

        <div class="box1 col-sm-3">
        <app-sidebar></app-sidebar>
        </div>
    
    
<div class="box col-sm-9 shadow-none p-3 mb-5 bg-light rounded">
      


        <div class="list-group">

                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action list-group-item-warning">
                        Teacher ID</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action  list-group-item-warning">{{admin.tId}} </button>
                </div>
                </div>

                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action ">First Name</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action ">{{admin.fName}}</button>
                </div>
               
                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action">Middle Name</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action">{{admin.mName}}</button>
                </div>



                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action">Last Name</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action">{{admin.lName}}</button>
                </div>

                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action">Email</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action">{{admin.email}}</button>
                </div>

                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action">Address Line1</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action">{{admin.addr1}}</button>
                </div>

                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action">Address Line2</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action">{{admin.addr2}}</button>
                </div>



                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action">Address Line3</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action">{{admin.addr3}}</button>
                </div>

                <div class="row">
                <button type="button" class="list-group-item col-sm-5 list-group-item-action">Phone</button>
                <button type="button" class="list-group-item col-sm-7 list-group-item-action">{{admin.phone}}</button>
                </div>




</div>



</div>

<app-foot></app-foot>
</body>