<div class="bar">

<div class="vertical-menu">
  <a href="#" class="active">Details</a>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        
          <a data-toggle="collapse" href="#collapse1">View Users</a>
        
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <!-- <li class="list-group-item">Students</li> -->
          

          <div class="vertical-menu-view">
          <a href="http://localhost:4200/studentv">Students</a></div>

          <div class="vertical-menu-view">
            <a href="http://localhost:4200/teacherv">Teachers</a></div>

            <div class="vertical-menu-view">
              <a href="../../adminv">Admins</a></div>

          
        </ul>
      
      </div>
    </div>
  </div>

  <a [routerLink]="['register']">Add User</a>
  


  <div class="pane2-group">
    <div class="pane2 pane2-default">
      <div class="pane2-heading">
        
          <a data-toggle="collapse" href="#collapse2">Update Users</a>
        
      </div>
      <div id="collapse2" class="pane2-collapse collapse">
        <ul class="list-group">
          <!-- <li class="list-group-item">Students</li> -->
          

          <div class="vertical-menu-view">
          <a href="http://localhost:4200/sedit">Students</a></div>

          <div class="vertical-menu-view">
            <a href="http://localhost:4200/tedit">Teachers</a></div>

            <div class="vertical-menu-view">
              <a href="http://localhost:4200/aedit">Admins</a></div>

          
        </ul>
      
      </div>
    </div>
  </div>


  <div class="pane3-group">
    <div class="pane3 pane3-default">
      <div class="pane3-heading">
        
          <a data-toggle="collapse" href="#collapse3">Remove Users</a>
        
      </div>
      <div id="collapse3" class="pane3-collapse collapse">
        <ul class="list-group3">
          <!-- <li class="list-group-item">Students</li> -->
          

          <div class="vertical-menu-view">
          <a href="http://localhost:4200/sdelete">Students</a></div>

          <div class="vertical-menu-view">
            <a href="http://localhost:4200/tdelete">Teachers</a></div>

            <div class="vertical-menu-view">
              <a href="http://localhost:4200/adelete">Admins</a></div>

          
        </ul>
      
      </div>
    </div>
  </div>

  <div class="pane4-group">
    <div class="pane4 pane4-default">
      <div class="pane4-heading">
        
          <a data-toggle="collapse" href="#collapse4">Settings</a>
        
      </div>
      <div id="collapse4" class="pane4-collapse collapse">
        <ul class="list-group4">
          <!-- <li class="list-group-item">Students</li> -->
          

          <div class="vertical-menu-view">
          <a href="">Edit Profile</a></div>

          <div class="vertical-menu-view">
            <a href="">Change Password</a></div>

           

          
        </ul>
      
      </div>
    </div>
  </div>
  
 

  <div class="pane5-group">
    <div class="pane5 pane5-default">
      <div class="pane5-heading">
        
          <a data-toggle="collapse" href="#collapse5">File Management</a>
        
      </div>
      <div id="collapse5" class="pane5-collapse collapse">
        <ul class="list-group5">
          <!-- <li class="list-group-item">Students</li> -->
          

          <div class="vertical-menu-view">
          <a href="http://localhost:4200/docup">Upoad File</a></div>

          <div class="vertical-menu-view">
            <a href="http://localhost:4200/docdown">Download File</a></div>


          
        </ul>
      
      </div>
    </div>
  </div>






</div>


</div>




