

<body>
    <app-navbar></app-navbar>
    
    <div class="row">
    
            <div class="box1 col-sm-3">
            <app-sidebar-teacher></app-sidebar-teacher>
            </div>
        
        
    <div class="box col-sm-9 shadow-none p-3 mb-5 bg-light rounded">
  
  
  
  
          <div class="ab">
  
            <h3>Upload Files Here</h3>
            <br>
            <br>
      <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>
       
      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </label>
       
      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
      
    </div>
    
          
    </div>
    
    
    </div>
    
    <app-foot></app-foot>
    </body>